<div class="flex justify-between items-center h-12">
  <h2 class="h2">Total Winnings</h2>
  <% if user_signed_in? %>
    <%= link_to "Add Result", new_results_path, class: "btn btn-primary h-10 items-center" %>
  <% end %>
</div>
<div class="mt-10 flex flex-col gap-4">
  <% @users.each do |user| %>
    <%= render ResultCard::Component.new(user: user) %>
  <% end %>
</div>