<div class="flex justify-start">
  <h2 class="h2">Add New Results</h2>
</div>
<%= form_for @result, html: { class: "space-y-6" } do |f| %>
  <%= render FormComponents::CurrencyField::Component.new(
    form: f,
    input_name: :buy_in_amount,
    errors: @result.errors[:buy_in_amount]
  ) %>
  <%= render FormComponents::CurrencyField::Component.new(
    form: f,
    input_name: :win_amount,
    errors: @result.errors[:win_amount]
  ) %>
  <div>
    <%= f.submit "Add Result", class: 'btn btn-primary w-full h-12' %>
  </div>
<% end %>

