@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 240, 10%, 4%;
  --foreground: 240, 5%, 96%;
  --primary: 45, 93%, 47%;
  --primary-foreground: 240, 5%, 96%;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-family: "Geist", Arial, Helvetica, sans-serif;
}
