<div class="w-full">
  <%= @form.label @input_name %>
  <div class="mt-2">
    <%= @form.text_field @input_name,
                         data: @input_data_attrs,
                         disabled: @disabled,
                         autofocus: @autofocus,
                         autocomplete: @autocomplete,
                         class: "form-control #{@errors.any? && 'ring-red-500'}" %>
  </div>
  <% if @errors.any? %>
    <p class="mt-1 text-sm text-red-600">
      <%= @errors.first %>
    </p>
  <% end %>
</div>